<!DOCTYPE html>
<html ng-app="holidayPlanner">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WDI32 Group Project</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZy_QQhDlUhsIrjWpGkrdYc11xGFTyw58&libraries=places"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

</head>
<body id="body" ng-controller="MainCtrl as main">

  <nav id="top-navbar" class="navbar" ng-if="main.navIsVisible">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://images.vexels.com/media/users/3/145136/isolated/preview/94a70b169da2d2f32dc34ead9122ef2d-sun-sharp-rays-big-icon-by-vexels.png" alt="holidayPlanner">
        &nbsp;
        Make My Day
      </a>
        <p class="navbar-item">City: {{main.currentTrip.location}}</p>
        <p class="navbar-item">Date: {{main.currentTrip.startDate | date:"EEE dd-MMM yyyy "}}
        </p>
      <div class="navbar-burger ng-class:clicked ? 'is-active' : 'is-not-active'" data-target="#mobile-menu" ng-click="clicked = !clicked" >
          <span></span>
          <span></span>
          <span></span>
      </div>
    </div>

    <div id="mobile-menu" class="navbar-menu ng-class:clicked ? 'is-active' : 'is-not-active'">
      <div class="navbar-end">
        <a class="navbar-item" ui-sref="tripsNew">Add new trip</a>
        <a class="navbar-item" ui-sref="tripsShow({ showDailyPlan: true })">Daily Plan</a>
        <!-- <a class="navbar-item" ng-click="clicked = !clicked" ui-sref="">Current Trip</a> -->
        <a class="navbar-item" ui-sref="tripsIndex">See all my Trips</a>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href=""> <span class="icon is-small"><i class="fas fa-user"></i></span>&nbsp {{main.currentTrip.user.username}}</a>
            <div class="navbar-dropdown is-boxed is-right" ng-if="main.isAuthenticated()">
              <a class="navbar-item" ui-sref="homepage" ng-click="main.logout()">Logout</a>
            </div>
        </div>
      </div>
    </div>
  </nav>

  <ui-view></ui-view>

</body>
</html>
