INDEX PAGE
{{allTrips.allUsersTrips}}
<ul ng-init="allTrips.initialiseAlltrips()" class="daily-plan-view">
  {{allTrips.allUsersTrips}}
  <li ng-repeat="trip in allTrips.allUsersTrips">
    <div class="card">
      <div class="card-image">
        <a class="">
          <!-- <img ng-src="{{ place.image }}" alt=""> -->
        </a>
        <div class="card-content">
          <h1 class="has-text-weight-bold">{{ trip.location }}</h1>
          <p>{{ trip.startDate}}</p>
        </div>
      </div>
    </div>
  </li>
</ul>
