<section class="hero is-medium homepage">
  <div class="hero-body">
    <div ng-if="AuthRegisterLogin.flashMessage" class="notification is-{{AuthRegisterLogin.flashMessage.type}}">{{ AuthRegisterLogin.flashMessage.content}}
    </div>
    <div class="container">
      <h1 class="title is-size-1-desktop is-size-4-touch has-text-white has-text-centered">The new way to plan your next trip</h1>
      <h2 class="subtitle is-size-3-desktop is-size-4-touch has-text-white has-text-centered">Create a fully customized day itinerary for free</h2>

      <!-- registration form  -->

      <div class="container homepageForm">
        <section ng-if="!AuthRegisterLogin.registered" class="section">
          <h3 class="subtitle is-size-3-desktop is-size-4-touch has-text-grey has-text-centered">Please register</h2>

          <div class="container registrationForm">
            <form name="AuthRegisterLogin.form" ng-submit="AuthRegisterLogin.handleRegister()" novalidate>
              <div class="field">
                <label for="username">Username</label>
                <input class="input" placeholder="Username" name="username" ng-model="AuthRegisterLogin.user.username" required />
                <div ng-messages="AuthRegisterLogin.form.username.$error" ng-if="AuthRegisterLogin.form.username.$dirty || AuthRegisterLogin.form.$submitted">
                  <div class="has-text-danger" ng-message="required">This field is required
                  </div>
                </div>
              </div>
              <div class="field">
                <label for="email">Email</label>
                <input class="input" placeholder="Email" name="email" ng-model="AuthRegisterLogin.user.email" required pattern="^\w+@\w+\..{2,3}(.{2,3})?$"/>
                <div ng-messages="AuthRegisterLogin.form.email.$error" ng-if="AuthRegisterLogin.form.email.$touched || AuthRegisterLogin.form.$submitted">
                  <div class="has-text-danger" ng-message="required">This field is required
                  </div>
                  <div class="has-text-danger" ng-message="pattern">This field must be a valid email</div>
                </div>
              </div>
              <div class="field">
                <label for="password">Password</label>
                <input type="password" class="input" placeholder="Password" name="password" ng-model="AuthRegisterLogin.user.password" required/>
                <div ng-messages="AuthRegisterLogin.form.password.$error" ng-if="AuthRegisterLogin.form.password.$dirty || AuthRegisterLogin.form.$submitted">
                  <div class="has-text-danger" ng-message="required">This field is required
                  </div>
                </div>
              </div>
              <div class="field">
                <label for="passwordConfirmation">Password Confirmation</label>
                <input type="password" class="input" placeholder="Password Confirmation" name="passwordConfirmation" ng-model="AuthRegisterLogin.user.passwordConfirmation" required/>
                <div ng-messages="AuthRegisterLogin.form.passwordConfirmation.$error" ng-if="AuthRegisterLogin.form.passwordConfirmation.$dirty || AuthRegisterLogin.form.$submitted">
                  <div class="has-text-danger" ng-message="required">This field is required
                  </div>
                </div>
                <div class="has-text-danger">
                  {{AuthRegisterLogin.message}}
                </div>
              </div>
              <div class="has-text-centered">
                <button class="button is-primary">Submit</button>
              </div>
            </form>
            <br>
            <div class"has-text-centered">Already have an account? Please
              <a ng-click="AuthRegisterLogin.registered = !AuthRegisterLogin.registered">login here </a>
            </div>
          </div>
        </section>
      </div>

      <!-- login form -->

      <div class="container homepageForm">
        <section ng-if="AuthRegisterLogin.registered" class="section homepageForm">
          <h3 class="subtitle is-size-3-desktop is-size-4-touch has-text-grey has-text-centered">Please login</h2>
          <div class="container registrationForm">
            <form name="AuthRegisterLogin.form" ng-submit="AuthRegisterLogin.handleLogin()" novalidate>
              <div class="field">
                <label for="email">Email</label>
                <input class="input" placeholder="Email" name="email" ng-model="AuthRegisterLogin.credentials.email" required pattern="^\w+@\w+\..{2,3}(.{2,3})?$" />
                <div ng-messages="AuthRegisterLogin.form.email.$error" ng-if="AuthRegisterLogin.form.email.$touched || AuthRegisterLogin.form.$submitted">
                  <div class="has-text-danger" ng-message="required">This field is required
                  </div>
                </div>
              </div>
              <div class="field">
                <label for="password">Password</label>
                <input type="password" class="input" placeholder="Password" name="password" ng-model="AuthRegisterLogin.credentials.password" required />
                <div ng-messages="AuthRegisterLogin.form.password.$error" ng-if="AuthRegisterLogin.form.password.$touched || AuthRegisterLogin.form.$submitted">
                  <div class="has-text-danger" ng-message="required">This field is required
                  </div>
                </div>
              </div>
              <div class="has-text-danger">
                {{AuthRegisterLogin.message}}
              </div>
              <br>
              <div class="has-text-centered">
                <button class="button is-primary">Submit</button>
              </div>
            </form>
          </div>
        </section>
      </div>

    </div>
  </div>
</section>
