<!-- MODAL -->

<div class="modal is-active" ng-class="{'is-active': tripsIndex.isActive}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Holiday Planner</p>
    </header>
    <section class="modal-card-body">

      <div class="container">

        <form name="tripsIndex.form" ng-submit="tripsIndex.createTrip()" novalidate>
          <div class="field">
            <label for="location">Where are you going?</label>
            <input coordinates="tripsIndex.coordinates" address="tripsIndex.address" class="input googleAutocomplete" placeholder="e.g. London, New York, Paris" name="location" required />
            <div ng-messages="tripsIndex.form.location.$error" ng-if="tripsIndex.form.location.$dirty || tripsIndex.form.$submitted">
              <div class="has-text-danger" ng-message="required">This field is required
              </div>
            </div>
          </div>
          <div class="field">
            <label for="startDate">When?</label>
            <input class="input" type="date" placeholder="" name="startDate" ng-model="tripsIndex.newTrip.startDate" required />
            <div ng-messages="tripsIndex.form.startDate.$error" ng-if="tripsIndex.form.startDate.$dirty || tripsIndex.form.$submitted">
              <div class="has-text-danger" ng-message="required">This field is required</div>
            </div>
          </div>

          <button class="button is-primary">Create Trip</button>
        </form>
      </div>

    </section>
  </div>
</div>

<!-- INDEX PAGE - TOP NAVBARS -->

<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://images.vexels.com/media/users/3/145136/isolated/preview/94a70b169da2d2f32dc34ead9122ef2d-sun-sharp-rays-big-icon-by-vexels.png" alt="holidayPlanner">
      &nbsp;
      Holiday Planner
    </a>
      <a class="navbar-item">City: {{tripsIndex.address}}</a>
      <a class="navbar-item">{{tripsIndex.newTrip.startDate | date:"EEE dd-MMM yyyy "}}
      </a>
    <div class="navbar-burger ng-class:clicked ? 'is-active' : 'is-not-active'" data-target="#mobile-menu" ng-click="clicked = !clicked" >
        <span></span>
        <span></span>
        <span></span>
    </div>
  </div>

  <div id="mobile-menu" class="navbar-menu ng-class:clicked ? 'is-active' : 'is-not-active'">
    <div class="navbar-end">
      <a class="navbar-item" ng-click="showMe=true" ui-sref="">Daily Plan</a>
      <a class="navbar-item" ng-click="clicked = !clicked" ui-sref="">My Trip</a>
      <!-- <a class="navbar-item" ng-click="clicked = !clicked" ui-sref="">See all my Trips</a> -->
      <a class="navbar-item" ng-click="tripsIndex.seeTrips()" ui-sref="">See all my Trips</a>
      <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href=""> <span class="icon is-small"><i class="fas fa-user"></i></span>&nbsp {{tripsIndex.userName}}</a>
          <div class="navbar-dropdown is-boxed is-right" ng-if="tripsIndex.isAuthenticated()">
            <a class="navbar-item" ng-click="tripsIndex.logout()">Logout</a>
          </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" ng-click="tripsIndex.changeCat('point_of_interest')">Places</a>
      <a class="navbar-item" ng-click="tripsIndex.changeCat('establishment')">Events</a>
      <a class="navbar-item" ng-click="tripsIndex.changeCat('restaurant')">Restaurants</a>
      <a class="navbar-item" ng-click="tripsIndex.changeCat('lodging')">Hotels</a>
    </div>
  </div>
</nav>

<!-- SIDEBAR - NEARBY / FILTERED PLACES VIEW -->

<section class="main-content columns is-fullheight">
  <aside class="column is-one-quarter is-sidebar-menu is-fullheight section is-hidden-mobile">

    <ul class="nearby-places-list" ng-hide="showMe">
      <li ng-repeat="place in tripsIndex.searchResult">
        <div class="card">
          <div class="card-image">
            <a class="">
              <img class="place-image" ng-src="{{ place.pictures }}" alt="" ng-click="tripsIndex.hideNearbyPlaces()" >
              <button class="addButton">+</button>
              <button class="removeButton">-</button>
            </a>
            <div class="card-content">
              <h1 class="has-text-weight-bold">{{ place.name }}</h1>
              <p>{{ place.formatted_address}}</p>
            </div>
          </div>
        </div>
      </li>
    </ul>

<!-- SIDEBAR - DAILY PLAN VIEW -->

    <ul class="daily-plan-view" ng-show="showMe">
      gfdfg
      <li ng-repeat="place in tripsIndex.currentTrip.days[0].places">
        <div class="card">
          <div class="card-image">
            <a class="">
              <img ng-src="{{ place.image }}" alt="">
            </a>
            <div class="card-content">
              <h1 class="has-text-weight-bold">{{ place.name }}</h1>
              <p>{{ place.address}}</p>
            </div>
          </div>
        </div>
      </li>
      <button ng-click="showMe=false" class="button is-primary" name="button">Back</button>
    </ul>

  </aside>

  <!-- GOOGLE MAPS -->

  <div class="column is-three-quarters googleMap"><google-map zoom="20" center="tripsIndex.coordinates" searchCat="tripsIndex.searchCat"></google-map></div>
</section>
