<nav id="bottom-navbar"class="navbar">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" ng-click="tripsShow.changeCat('museum')">Museums</a>
      <a class="navbar-item" ng-click="tripsShow.changeCat('art_gallery')">Art galleries</a>
      <a class="navbar-item" ng-click="tripsShow.changeCat('restaurant')">Restaurants</a>
      <a class="navbar-item" ng-click="tripsShow.changeCat('lodging')">Hotels</a>
    </div>
  </div>
</nav>

<!-- SIDEBAR - NEARBY / FILTERED PLACES VIEW -->

<section class="main-content columns is-fullheight">
  <aside class="column is-one-quarter is-sidebar-menu is-fullheight section is-hidden-mobile">
    <div ng-if="!tripsShow.showDailyPlan">
      <ul class="nearby-places-list">
        <li class="list-cards" ng-repeat="place in tripsShow.searchResults">
          <div class="card">
            <div class="card-image" style="background-image: url({{ place.photos[0].getUrl({'maxWidth': 800, 'maxHeight': 800}) }})">
              <button class="addButton" ng-if="!tripsShow.tripContains(place)" ng-click="tripsShow.addPlaceTrip(place)">
                <span class="word"> + </span>
              </button>
              <button class="removeButton" ng-if="tripsShow.tripContains(place)" ng-click="tripsShow.removePlaceTrip(place)">
                <span class="word"> - </span>
              </button>
            </div>
            <div id="card-content" class="card-content">
              <h1 class="has-text-weight-bold">{{ place.name }}</h1>
              <p>{{ place.vicinity}}</p><br>
              <p>Rating:{{place.rating}}🤩</p>
              <li ng-repeat="n in [] | range:20">
                  <span>🤩</span>
              </li>
            </div>
          </div>
        </li>
      </ul>
  </div>

<!-- SIDEBAR - DAILY PLAN VIEW -->
    <div ng-if="tripsShow.showDailyPlan">
      <br>
      <br>
      <h2 class="subtitle is-bold"> Directions for today's trip </h2>
      <div>
          <li ng-repeat="leg in tripsShow.directionInstructions.routes[0].legs">
            <strong> Step: {{$index + 1}} of your trip</strong><br>
            {{leg.start_address}}<strong> to </strong> {{leg.end_address}}</br>
            <strong> Distance: </strong> {{leg.distance.text}} <br>
            <strong> Duration: </strong> {{leg.duration.text}} <br> <br>
          </li>
      </div>
      <h2 class="subtitle is-bold"> Places you are visiting today </h2>
      <br>
    <ul class="daily-plan-view" >
      <li ng-repeat="place in tripsShow.currentTrip.days[0].places">
        <div class="card">
            <div class="card-image" style="background-image: url({{ place.image }})">
          </div>
          <div class="card-content">
            <h1 class="has-text-weight-bold">{{ place.name }}</h1>
            <p>{{ place.address}}</p>
          </div>
        </div>
      </li>
    </ul>
    <a ui-sref="tripsShow({ showDailyPlan: false })" class="button is-primary" name="button">Back to trip planning</a>
  </div>

  </aside>

  <!-- GOOGLE MAPS -->

  <div class="column is-three-quarters googleMap">
    <google-map zoom="15" center="tripsShow.currentTrip.coordinates" search-cat="tripsShow.searchCat" results="tripsShow.searchResults">
    </google-map>
  </div>


</section>
